<div class="col-sm-3">
   <div>
        <img ng-src="[[photo.thumbnail]]" class="img img-thumbnail"/>
   </div>
</div>
<div class="col-sm-9 text-left">
    <div class="baseline">
        <span class="img-title" title="Click to edit title" edit-photo-title>[[ photo.title || 'Set title']]</span>
        <input class="hidden" type="text" name="photoTitle" value="[[ photo.title || 'Set title']]" ng-blur="updatePhotoTitle($event)" ng-keyup="updatePhotoTitle($event)"/>
        <br />
        <span class="text-tiny">Last modified on <time datetime="[[ photo.edited_at ]]">[[ photo.edited_at | amDateFormat: 'DD/MM/YYYY, h:mm a' ]]
        </time>
        </span>
    </div>
</div>
