[run]
parallel = True

[report]
omit =
  *tests*
  *migrations*
  *site-packages*
  *rest_framework*
  *__init__.py*
  *settings*
  *wsgi.py*
  *admin.py*
  *lib*
exclude_lines =
    pragma: no cover
    def
    import
    from
