language: python
python:
- '3.7'
dist: xenial
sudo: true
env:
  global:
  - TRAVIS_CI=1
install:
- pip install -q pipenv
- pipenv install
- pipenv install python-coveralls
- pipenv install coverage
script:
- python waitress/manage.py collectstatic --noinput
- python waitress/manage.py makemigrations
- python waitress/manage.py migrate
- python waitress/manage.py test
after_success:
- coveralls
# deploy:
#   provider: openshift
#   user:
#     secure: eflZs9TWAEazQsMoHwkBzHbcyHqzNFBcHcgRAhXGuHJ/Hm8JhWchWODe7PUUm3sO+2Izv8kD3BnyIlwCQEAddDZ3d2+q2wY9mtyhYAWyZ/MS9foejk1R41WmOQyFI9PMPsxfoPCO0Vfu4q7UWs7GZcy5J7QY0n6oChLNjdH+8kLfRNz35ll5UlhX9cwyGGCKxIfDnfOvSxldiwfiXmHbXM6rqs69gwpK8ITPWgXJ79639tuKy7FszJ5Vqpvkv+UEQPZHqmAgVVawkErb+91xqHPcJWrCmOvNftCwyESfCzOWO161a/C0Zom/VOB8MhriNsIVstNICqoy0mvTIJxxBvJEC9EVbHeIpHhdVpNX6t6OfHZ9ehwtPhBGxwralHyFhdQdHfjd77odIYEMV80KQQOnQrDwgRVrmToeh2tH2fv7oW0FSAmdmWupJSZ46q3d1U3ERdA+5NnE71gi+nsHlnRN4AIhU97vGeQk/7aeSUiYhXqGLzGlwmFqY3eG+xB+aYrO07foInDqh6Ptr6hrAnoD85KKlfwS9ar73Jl5y3+7FPd9Wels1/ZvojWkD9u0SNVm9NlUkJU7Pkgw3B+KDMFkDQMVbobSEUQNY3Id1OfzVsT40d33vkkNp14Pl94n6myYH+CGYU5EqcNWLhmvipVV8WQxHOHXLe7uAGgG5Pc=
#   password:
#     secure: Gl33UWzMIPtrgZaiPCs8DSEZsm5sLNeMTfwXa6IXoyFG3CEhVN2/LaEM/kmOQANom/R1pSo1wKZE39qbg8GG4RlyjFIpS2hlBYPZSEtt756grwaL6vFCnss4YsCGemhI+GoqPTbVRjy755xCLGYAYqsJoIAPXgnIcp1Nf1ZmoM9Pc5dm7DauKIBOpqstIfmEX7RgcID4Y9r5iejYgN2EYAE6FcSr6peRM/WldYGwtTwP2WVE8EQwFMFXXhkeCdKu9fXrVjkLj6+DNFrdqAZ4uTRCRiPktdc1RfptS1QTLYFDk9hb0qt5/Tx3bwGTm9vX5NO84K7/LxKmd2qZ4YQyKUQPqKqnQQAMeMMvXWgZcPO6YdSw/B3cQOvlxORUu9co/iut+TRtGZE5EIJ3rZCCg29yLZEACjP7s5e3ZAl3MmGAmT5ZGhXfKocYhtKMTadZ34950UmZDXkH5e1C/UT770rv9LQPllHH87CO35cCnTI2Nh6wSMUrOa4gTM6sMlYxFhUu6LgGdvF/Mo0vJ1MbMCaEI9hGFZ+WMgndibvNH9XMaxCeMaHeCrRZU2Xj+Bhxm0Nw/OW8OJDNhjlQpKi3IdfLRK0LdMAE+nMBG/sJyMNIemv6ioRW3JqlMch5nLd/ZgPM80bXqj0SkwqTfsLswOEWJLviYAFSB5yaxt0Z8XE=
#   app: waitress
#   domain: rainbowseven
#   on:
#     repo: waitress-andela/waitress
#   deployment_branch: master
