* {
    box-sizing: border-box;
    font-family: 'Dosis';
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.main-bg {
    background: #f8f8f8;
    color: black;
}

.avatar-img, .avatar {
    border-radius: 50%;
    margin: 1rem 0;
    background: black;
}

.box {
    padding: 3.25rem;
    width: 400px;
    box-shadow: 0 5px 5px rgba(10,10,10,.1), 0 0 14px 1px rgba(10,10,10,.1)
}

.btn {
    text-transform: uppercase;
}

.error_text {
    margin: 1rem 0;
    color: red;
    display: block;
}
