* {
    box-sizing: border-box;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
}

.form-container {
    display: flex;
    align-items: center;
    width: 600px;
    height: 500px;
    margin: auto;
    box-shadow: 0.5rem 0.5rem 3rem rgba(0,0,0,0.2)
}

.form-signin {
    max-width: 330px;
    margin: 0 auto;
}

.form-signin-heading {
    color: #394683;
}

.form-signin-info{
  color: #aaa9a7;
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 0;
}

.form-signin .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.danger {
    color: red;
}

.mb-2 {
    margin-bottom: 20px;
}

input::placeholder{
    color: #ddd !important;
    font-size: 14px;
}

.logo {
    width: 2rem;
    margin-right: 10px;
}

.login_body {
    margin-top: 10rem;
}

.cta_group {
    display: flex;
    justify-content: flex-end;
}

.cta {
    margin-right: 1rem;
}

.card_container {
    margin: 1rem 0;
}

.table_container {
    margin: 0 1rem;
}

.odd, .even {
    cursor: pointer;
}

.odd:hover, .even:hover {
    background: #007bff;
    color: #fff;
}
