<div class="passphrase-dialog flex vertical align-center horizontal align-center" ng-show="passphraseDialogVisible">
  <div class="dialog-box">
    <p>Enter Passphrase here</p>
    <input type="password" class="form-fields" ng-model="passphrase" />
    <div class="actions">
      <a class="sapphire button" ng-click="processAction()">Submit</a>
      <a class="shadeless button" ng-click="clearDialog()">Cancel</a>
    </div>
  </div>
</div>

<h1 class="page-description"><a class="back-link" href="/start">Back</a> / Listing people starting with {{ character }}</h1>

<div class="row">
  <div class="col-sm-4 pos-rel" ng-repeat="user in users">
    <div class="tick" ng-class="{ 'visible': user.is_tapped }">
      <span class="mdi mdi-check"></span>
    </div>
    <a class="name grid-box flex" ng-class="{'active': user.id == selectedUser.id, 'dim': user.is_tapped }" ng-click="click(user)">
      <div class="flex">
        <div class="column1">
          <div class="thumb">
            <img ng-src="{{ user.photo }}" class="img-responsive"/>
          </div>
        </div>
        <div class="column2">
          <h1>{{ user.firstname }}</h1>
          <h1>{{ user.lastname }}</h1>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="footer-panel flex" ng-show="footerIsVisible">
  <div class="container flex vertical align-center">
    <div class="message-panel fill">
      <p>You have chosen <strong>{{selectedUser.firstname}} {{selectedUser.lastname}}</strong></p>
    </div>
    <div class="buttons-panel fill">
      <a class="sapphire button" ng-show="!selectedUser.is_tapped" ng-click="tap()">Tap</a>
      <a class="sapphire button" ng-show="selectedUser.is_tapped" ng-click="secureAction('untap')">Untap</a>
      <a class="shadeless button" ng-click="cancel()">Cancel</a>
    </div>
  </div>
</div>
