{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/dashboard">Waitress</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/reports/daily">Daily Report <span class=" sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/reports/weekly">Weekly Report</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Monthly Report</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/change_password">Change Password</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>
<section class="change_passwd_container container">
    <h1>Change Password</h1>
    <form id="change_passwd_form">
        {% csrf_token %}
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="verifyPassword">Verify Password</label>
            <input type="password" class="form-control" id="verifyPassword" placeholder="Verify Password">
        </div>
        <button type="submit" class="btn btn-primary" id="changePasswordBtn">Change Password</button>
    </form>
</section>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'change_password.js' %}"></script>
{% endblock scripts %}
