{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/dashboard">Waitress</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Daily Report</a></li>
            <li><a href="#">Weekly Report</a></li>
            <li><a href="#">Monthly Report</a></li>
            <li><a href="/logout">Sign Out</a></li>
        </ul>
    </div>
</nav>
<section class="dashboard__container">
    Nothing to see here, yet. <span>😌</span>
</section>
{% endblock content %}
