{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/dashboard">Waitress</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Home <span class=" sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/reports/daily">Daily Report</a>
            </li>

            <li class=" nav-item">
                <a class="nav-link" href="/reports/weekly">Weekly Report</a>
            </li>

            <li class=" nav-item">
                <a class="nav-link" href="#">Monthly Report</a>
            </li>

            <li class=" nav-item">
                <a class="nav-link" href="/change_password">Change Password</a>
            </li>

            <li class=" nav-item">
                <a class="nav-link" href="/logout">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>
<section class="dashboard__container">
    Nothing to see here, {{user.first_name}}. <span>😌</span>
</section>
{% endblock content %}
