{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="form-container">
        <form class="form-signin" role="form" method="POST" action="/">
            {% csrf_token %}
            <h2 class="form-signin-heading">Welcome to Waitress 👋</h2>
            <hr />
            <h3 class="form-signin-info">Sign into your account</h3>
            {{ login_form.username }}
            {{ login_form.password }}
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign
                in</button>
        </form>
    </div>

    <!-- Credit: https://codepen.io/deegill/pen/gqDjA -->
</div>
{% endblock content %}
